<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.dylan.fastdev">
    <application>
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
    </application>

